<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Contact Us</span>
      <h2 class="cs-title">Let’s Build Your Growth Website</h2>
      <p class="cs-text">
        We create fast, professional websites that attract high-quality
        customers and grow your business.
      </p>
      <a href="/contact/" class="cs-button-solid">Book a Call</a>
    </div>
  </div>
  <!-- Background Image-->
  <picture class="cs-picture">
    <!--Mobile Image-->
    <source media="(max-width: 600px)" srcset="/assets/images/cta.webp" />
    <!--Tablet and above Image-->
    <source media="(min-width: 601px)" srcset="/assets/images/cta.webp" />
    <img
      loading="lazy"
      decoding="async"
      src="/assets/images/cta.webp"
      alt="body builder"
      width="1920"
      height="436"
    />
  </picture>
</section>
